h1 { font: bold 20px verdana, sans-serif; } 
h2 { font: bold 14px verdana, sans-serif; }

header, section, footer, aside, nav, article, figure, 
figcaption, hgroup{ display: block; }

body { text-align: center;
font-family:'Courier New', Courier, monospace }
#wrapper { 
    width: 1000px; 
    margin: 15px auto; 
    text-align: left; 
   
    }

 #main_header { 
        background: #dbc1ac; 
        border: 1px solid #999999; 
        padding: 20px; 
        }


    #main_menu { background: #ece0d1; padding: 5px 15px; }
    #main_menu li { 
     display: inline-block; 
     list-style: none; 
    padding: 5px; 
    font: bold 14px verdana, sans-serif; 
        }


#main_section {float: left; width: 660px; margin: 
    20px; } 


#main_footer { clear: both; text-align: center; 
        padding: 20px; border-top: 2px solid #8b795d; }

article { background: #FFFBCC; border: 1px solid 
            #000000; padding: 20px; margin-bottom: 15px; }
article footer { text-align: right; } 
time { color: #999999; } 
figcaption { font: italic 14px verdana, sans-serif; }


div { 
    width: 100px; 
    margin: 20px;
    padding: 10px; 
    -chrome-box-sizing: border-box; 
    -webkit-box-sizing: border-box; box-sizing: border-box; 
    }
    
#main_aside { float: right; width: 220px; margin: 
        20px 0px; padding: 20px; background: #ad8754; }

#main_header{

            border: 1px solid #000000; 
        }
    



            
        
    

            
